@import "tailwindcss";

body {
  font-family: 'Cairo', sans-serif;
  background-color: #f8fafc;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .objective-card {
    break-inside: avoid;
    border: 1px solid #e2e8f0 !important;
    box-shadow: none !important;
  }
}
